.sidebar {
  width: 290px;
  display: inline-block;
  padding: 15px;
  margin-top: 20px;
  margin-left: 41px;
  margin-right: 41px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 34px 0 rgba(180, 12, 73, 0.32);
  box-shadow: 0 0 34px 0 rgba(180, 12, 73, 0.32);
  border-radius: 10px;
}

.sidebar.recents {
  height: 800px
}

.sidebar.tips {
  max-height: 750px;
  border-radius: 20px;
}

.sidebar-header {
  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #4a4a4a;
  text-align: left;
  padding: 27px 25px;
}

.sidebar-header-underline {
  width: 70px;
  height: 2px;
  border-bottom: solid 2px #c4859c;
  margin: 0 25px;
}

.sidebar-list {
  margin-top: 16px;
  padding: 0 15px;
}

.sidebar-list-element {
  font-family: Montserrat-Medium;
  font-size: 14px;
  color: #9b9b9b;
  text-align: left;
  padding: 19px 0 17px 10px;
  -webkit-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}

.history-list-element:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}

.history-list-element:hover {
  cursor: pointer;
  background-color: #eee;
}
