.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: horizontal;
          flex-direction: horizontal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
  width: 300px;
  height: 130px;
}
.search input {
  border: none;
  padding: 0 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  outline: none;
  font-family: Montserrat-Medium;
}

.search input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

.search input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

.search input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

.search input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}
.search-term {
  width: 255px;
}
.search-location {
  width: 160px;
}
.search button {
  position: relative;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #ff5f5f;
  margin-left: 20px;
  -webkit-box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  outline: none;
}
.search button img {
  position: absolute;
  width: 27px;
  top: 5px;
  left: 25px;
}
.search button:hover {
  cursor: pointer;
  background-color: #ff7e7e;
}
.search button:disabled {
  cursor: not-allowed;
  background-color: #ffe5e5;
}

@media screen and (max-width: 590px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
    margin-left: 25px;
    height: 140px;
    position: relative;
  }
  .search input {
    width: 60% !important;
  }
  .search button {
    position: absolute !important;
    top: 50px;
    right: 5%;
  }
}
