.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
  width: 940px;
  margin-bottom: 60px;
}


@media screen and (max-width: 1340px) {
  .places {
    width: 640px;
  }
}


@media screen and (max-width: 1023px) {
  .places {
    width: 290px;
  }
}

@media screen and (max-width: 799px) {
  .places {
    width: 640px;
  }
}

@media screen and (max-width: 677px) {
  .places {
    width: 290px;
  }

  a.place-detail-link {
    display:none;
  }
}
