.place-image {
  width: 254px;
  height: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  margin-top: 18px;
  border-radius: 15px;
  margin-left: 18px;
}
.place-image::before {
  opacity: 0;
}
.place-image:hover {
  cursor: pointer;
}
.place-image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #12195f;
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
.place-image:hover .photographer-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.place-image * {
  z-index: 2;
}
.place-image .photographer-photo {
  display: none;
  margin-bottom: -235px;
}
.place-image
  .photographer-photo
  .photographer-name {
  bottom: 10px;
  height: 14px;
  font-family: Montserrat-Medium;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.photographer-name {
    margin-bottom: 13px;
    margin-right: 13px;
}

.round-image {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.round-image img {
  position: absolute;
  left: -9px;
  top: -9px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}


@media screen and (max-width: 1000px) {
  .place-image {
    margin-right: 9px;
    margin-left: 9px;
  }
}
